<header #header [appBackgroundColorDominant]="loadedImage">
    <img appBoxShadowColorDynamic crossorigin="anonymous" #image (load)="setLoadedImage(image)" src="{{ playlist.images[0].url }}" alt="">

    <div class="header-info">
        <p>playlist</p>
        <h1>{{ playlist.name }}</h1>
        <p>{{ playlist.description }}</p>
        <p>
            <a class="author">{{ playlist.owner.display_name }}</a>, 
            {{ playlist.tracks.total }} songs 
            <app-like 
                *ngIf="isUserFallowing !== undefined" 
                (onDislike)="unfallow()" 
                (onLike)="fallow()" 
                [isLiked]="isUserFallowing">
            </app-like>
        </p>
    </div>
</header>