@import '../../../variables.scss';
@import './../../songs-header.scss';

* {
    color: white;
}

header {
    background: linear-gradient(180deg, rgba(119,137,156,1) 0%, rgba(119,137,156,0.1) 100%);
}

.author {
    text-decoration: underline;
}