@import "./../../../../variables.scss";

.loading {
  @keyframes blink {
    0% {
      color: rgba($green, 0);
    }
    50% {
      color: rgba($green, 0.5);
    }
    100% {
      color: rgba($green, 1);
    }
  }

  animation: blink alternate 0.8s infinite linear;
  color: $green;
}
