@import './../../songs-header.scss';

* {
    color: white;
}

header {
    background: linear-gradient(180deg, rgba(81, 57, 157,1) 0%, rgba(81, 57, 157,0.1) 100%);
}

img {
    box-shadow: rgb(121 141 136) 0px 0px 2px 1px;
}