* {
    color: white;
}

h1 {
    text-transform: capitalize;
    font-size: 2em;
}

.heading {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;

    a {
        align-self: flex-end;
        margin-bottom: 0.7rem;
        font-size: 1.1rem;
        text-decoration: underline;
    }
}