@import '../../variables.scss';

$navbar-height: 4rem;
$navbar-background-color: #202020;

ul.menu-list.flex {
    display: flex;
}

nav {
    background-color: $navbar-background-color;
    color: white;
    height: $navbar-height;
    font-size: 1.5rem;
    
    display: flex;
    align-items: center;

    padding: 0 2rem;
}
nav > * {
    flex-shrink: 0;
}

a.navbar-brand {
    color: $green;

    i {
        font-size: 2.2rem;
    }

    span {
        font-family: 'Otomanopee One', sans-serif;
        margin-left: 0.5rem;
    }
}

.searchbar {
    margin-right: auto;
    margin-left: auto;
    height: 50%;
    width: 35%;

    display: flex;
    align-items: center;

    border-radius: 5px;
    border: none;
    background-color: white;

    input {
        height: 100%;
        width: 100%;
        padding: 0;

        border-radius: 5px;
        border: none;
    }
    input:focus-visible {
        outline: none;
    }

    i {
        padding: 8px;
        color: black;
    }
}
.searchbar:focus-within {
    outline: none;
    box-shadow: 0px 0px 5px 2px $green;

    i {
        color: $green;
    }
}

.login {
    margin-left: 1rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 0.2rem 1.5rem;
}
.login:focus, .login:hover {
    color: $green;
}

.signup {
    color: white;
}
.signup:focus, .signup:hover {
    color: $green;
}

ul.menu-list {
    display: flex;
    padding: 0;
}

.menu-list-button {
    display: none;
}

@media (max-width: 680px) {
    .menu-list-button {
        display: block;
        background-color: inherit;
        border: none;
        font-size: 1.9rem;
        color: $green;
        cursor: pointer;
    }

    ul.menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: $navbar-height;
        background-color: $navbar-background-color;
        margin: 0;
        width: 20vh;
        height: 30vh;
        align-items: center;
        justify-content: space-evenly;
        border-bottom-left-radius: 6px;

        * {
            background-color: $navbar-background-color;
            border: none;
            padding: 0;
            border-radius: 0;
            color: white;
            margin: 0;
        }
        :hover {
            color: $green;
        }
    }
}

@media (max-width: 420px) {
    nav {
        padding: 0 1rem;
    }
}