.playlists-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: white;
}

.playlist-element {
    height: fit-content;
    margin: 1rem;
}

h1 {
    color: white;
    text-transform: capitalize;
    margin-left: 1rem;
    font-size: 2rem;
}

@media all and (min-width: 520px) {
    .playlists-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (min-width: 690px) {
    .playlists-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media all and (min-width: 850px) {
    .playlists-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media all and (min-width: 1100px) {
    .playlists-container {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media all and (min-width: 1500px) {
    .playlists-container {
        grid-template-columns: repeat(6, 1fr);
    }
}