<a routerLink="/playlist/{{ playlist.id }}">
    <div #card class="card" (mouseenter)="trySetBorderStyles()" (mouseleave)="tryRemoveBorderStyles()">
        <img #image
            crossorigin="anonymous"
            src="{{ playlist.images[playlist.images.length - 1].url }}" 
            alt="{{ playlist.name }} playlist image">
    
        <div class="description">
            <div>
                <h2>
                    {{ playlist.name }}
                </h2>
            </div>
            <p #description class="playlist-description" [innerHtml]="playlist.description"></p>
        </div>
    </div>
</a>