<a routerLink="/playlist/{{ playlist.id }}">
    <div class="card">
        <img src="{{ playlist.images[playlist.images.length - 1].url }}" alt="{{ playlist.name }} playlist image">
    
        <div>
            <h2>
                <app-text-fit [displayRows]="1" [text]="playlist.name"></app-text-fit>
            </h2>
        </div>
        <p class="playlist-description">
            <app-text-fit-unescaped [displayRows]="2" [text]="playlist.description"></app-text-fit-unescaped>
        </p>
    </div>
</a>