i:nth-child(1) {
    margin-right: 0.5rem;
    font-size: 1rem;
}
i:nth-child(2) {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
i:nth-child(3) {
    margin-right: 0.5rem;
    font-size: 1.4rem;
}
i:nth-child(4) {
    margin-right: 0.5rem;
    font-size: 1.6rem;
}
i:nth-child(5) {
    margin-right: 0.5rem;
    font-size: 1.8rem;
}