.playlist-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

app-playlist-card {
    height: fit-content;
    flex: 1;
    flex-basis: 170px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}