@import '../../../variables.scss';

* {
    color: white;
}

header {
    display: flex;
    height: 13rem;
    background: linear-gradient(180deg, rgba(119,137,156,1) 0%, rgba(119,137,156,0.1) 100%);
    padding: 1rem;

    .header-info {
        align-self: flex-end;
    }

    img {
        height: 100%;
        border-radius: 3px;
        margin-right: 2rem;
    }
}

.author {
    text-decoration: underline;
}

.fa-heart {
    font-size: 1.6rem;
    margin-left: 1rem;
    cursor: pointer;
}
.fa-heart:hover {
    color: $green;
}

.liked {
    color: $green;
}

@media (max-width: 950px) {
    header {
        height: 10rem;
    }
}
@media (max-width: 650px) {
    header {
        height: 8rem;
    }
}