.card {
    background-color: #282828;
    border-radius: 7px;
    color: white;
    height: 100%;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 63%;
        object-fit: cover;
        border-radius: 7px;
        display: block;
    }

    .description {
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}