.grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1rem;
    color: white;
    margin: 1rem;
    margin-top: 0;
}

.grid-element {
    height: 100%;
    max-height: 18.8rem;
}

.grid-element {
    display: none;
}
.grid-element:nth-child(-n+1) {
    display: block;
}

@media (min-width: 520px) {
    $display-count: 2;

    .grid-container {
        grid-template-columns: repeat($display-count, minmax(0, 1fr));
    }

    .grid-element:nth-child(-n+#{$display-count}) {
        display: block;
    }
}
@media (min-width: 690px) {
    $display-count: 3;

    .grid-container {
        grid-template-columns: repeat($display-count, minmax(0, 1fr));
    }

    .grid-element:nth-child(-n+#{$display-count}) {
        display: block;
    }
}
@media (min-width: 850px) {
    $display-count: 4;

    .grid-container {
        grid-template-columns: repeat($display-count, minmax(0, 1fr));
    }

    .grid-element:nth-child(-n+#{$display-count}) {
        display: block;
    }
}
@media (min-width: 1100px) {
    $display-count: 5;

    .grid-container {
        grid-template-columns: repeat($display-count, minmax(0, 1fr));
    }

    .grid-element:nth-child(-n+#{$display-count}) {
        display: block;
    }
}
@media (min-width: 1500px) {
    $display-count: 6;

    .grid-container {
        grid-template-columns: repeat($display-count, minmax(0, 1fr));
    }

    .grid-element:nth-child(-n+#{$display-count}) {
        display: block;
    }
}
@media (min-width: 2000px) {
    $display-count: 7;

    .grid-container {
        grid-template-columns: repeat($display-count, minmax(0, 1fr));
    }

    .grid-element:nth-child(-n+#{$display-count}) {
        display: block;
    }
}
@media (min-width: 3000px) {
    $display-count: 8;

    .grid-container {
        grid-template-columns: repeat($display-count, minmax(0, 1fr));
    }

    .grid-element:nth-child(-n+#{$display-count}) {
        display: block;
    }
}