@import './../styles.scss';

* {
    color: white;
}

a {
    color: white;
}

.author {
    text-decoration: underline;
}

h1 {
    @extend .hide-clamp;
    -webkit-line-clamp: 1;
}

.description {
    @extend .hide-clamp;
    -webkit-line-clamp: 2;
}

header {
    display: flex;
    height: 13rem;
    padding: 1rem;

    .header-info {
        align-self: flex-end;
    }

    img {
        height: 100%;
        border-radius: 3px;
        margin-right: 2rem;
    }
}

@media (max-width: 950px) {
    header {
        .popularity-indicator-container {
            margin-bottom: 0;
        }
        
        height: 10rem;
    }

    h1 {
        margin: 0;
    }

    p {
        margin: 0.5rem 0px;
    }
}
@media (max-width: 650px) {
    header {
        height: 8rem;
    }

    h1 {
        margin: 0;
    }

    p {
        margin: 0.3rem 0px;
    }
}