* {
    color: white;
}

header {
    display: flex;
    height: 13rem;
    background: linear-gradient(180deg, rgba(118,86,80,1) 0%, rgba(118,86,80,0.1) 100%);
    padding: 1rem;

    .header-info {
        align-self: flex-end;
    }

    img {
        height: 100%;
        border-radius: 3px;
        margin-right: 2rem;
    }
}

.author {
    text-decoration: underline;
}

@media (max-width: 950px) {
    header {
        height: 10rem;
    }
}
@media (max-width: 650px) {
    header {
        height: 8rem;
    }
}