@import '../variables.scss';
@import '../../../variables.scss';

$navbar-side-width: 134px;

nav {
    height: 100vh;
    width: $navbar-side-width;
    top: $navbar-top-height;
    position: fixed;;
    background-color: $navbar-background-color;
    box-sizing: border-box;
}

ul > li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}

ul > li > a {
    color: white;
    font-size: 1.5rem;
}
ul > li > a:hover {
    color: $green;
}

i {
    font-weight: 500;
}

.hightlight {
    background-color: $grey-hightlighted;
}

.dummy {
    width: $navbar-side-width;
}