<nav>
    <ul>
        <li [id]="homeRoute" #menuElement>
            <a [routerLink]="homeRoute">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li [id]="searchRoute" #menuElement>
            <a [routerLink]="searchRoute">
                <i class="fas fa-search"></i>
                Search
            </a>
        </li>
        <li [id]="libraryRoute" #menuElement>
            <a [routerLink]="libraryRoute">
                <i class="fas fa-list-ul"></i>
                Library
            </a>
        </li>
        <li [id]="likedRoute" #menuElement>
            <a [routerLink]="likedRoute">
                <i class="fas fa-heart"></i>
                Liked
            </a>
        </li>
    </ul>
</nav>

<div class="dummy"></div>