<nav>
    <a routerLink="/" class="navbar-brand">
        <i class="fab fa-spotify"></i>
        <span>SPOTIFY</span>
    </a>

    <form class="searchbar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search music">
    </form>

    <button (click)="changeMenuState()" class="menu-list-button"><i class="fas fa-bars"></i></button>
    <ul [class.flex]="hideList === false" class="menu-list">
        <li>
            <a href="#" class="signup">
                Sign up
            </a>
        </li>
        <li>
            <a href="#" class="login">
                Log in
            </a>
        </li>
    </ul>
</nav>

<div class="dummy"></div>