<header #header [appBackgroundColorDominant]="loadedImage" [imageUrl]="imageUrl">
    <img appBoxShadowColorLightest crossorigin="anonymous" #image [src]="artist.images[0].url" (load)="setLoadedImage(image)" alt="artist">

    <div class="header-info">
        <p>artist</p>
        <h1>{{ artist.name }}</h1>

        <div class="popularity-icons-container">
            <i class="fas fa-fire" *ngIf="popularityCount >= 1"></i>
            <i class="fas fa-fire" *ngIf="popularityCount >= 2"></i>
            <i class="fas fa-fire" *ngIf="popularityCount >= 3"></i>
            <i class="fas fa-fire" *ngIf="popularityCount >= 4"></i>
            <i class="fas fa-fire" *ngIf="popularityCount >= 5"></i>
        </div>

        <p>{{ getFallowerCount() }} Followers</p>
        <app-like *ngIf="isUserFallowing !== undefined" (onDislike)="unfallow()" (onLike)="fallow()"
            [isLiked]="isUserFallowing">
        </app-like>
    </div>
</header>