// TODO: Rename song-header.scss
@import './../../../variables.scss';
@import './../../songs-header.scss';

p {
    display: inline;
}

header {
    color: white;
}

.popularity-indicator-container {
    margin-bottom: 0.5rem;
}