<header #header [appBackgroundColorDominant]="loadedImage" [imageUrl]="imageUrl">
    <img appBoxShadowColorLightest crossorigin="anonymous" #image [src]="artist.images[0].url" (load)="setLoadedImage(image)" alt="artist">

    <div class="header-info">
        <p>artist</p>
        <h1>{{ artist.name }}</h1>

        <div class="popularity-indicator-container">
            <app-popularity-indicator [popularityCount]="popularityCount"></app-popularity-indicator>
        </div>

        <p>{{ getFallowerCount() }} Followers</p>
        <app-like *ngIf="isUserFallowing !== undefined" (onDislike)="unfallow()" (onLike)="fallow()"
            [isLiked]="isUserFallowing">
        </app-like>
    </div>
</header>