body {
    margin: 0;
    background-color: #121212;
}

.hide-clamp {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

// Removed default styles
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration:none; 
    cursor:pointer;  
}

ul {
    padding: 0;
}
ul li {
    list-style-type: none;
}
// Removed default styles