body {
    margin: 0;
}

// Removed default styles
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration:none; 
    cursor:pointer;  
}

ul li {
    list-style-type: none;
}
// Removed default styles