.tracks-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
}

.albums-vertical-container {
    display: inline-block;
    vertical-align: top;
}

.albums-horizontal-container {
    display: none;
}

.related-artists-container {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.container {
    display: grid;
    grid-template-columns: 82% 18%;
    grid-template-rows: max-content;
    margin-bottom: 5rem;
}

.expanded-albums-container {
    grid-row: 1 / span 2;
    grid-column: 2;
}

.shrinked-related-artists-container {
    grid-column: 1;
}

@media (max-width: 1250px) {
    .container {
        grid-template-columns: 76% 24%;
    }
}
@media (max-width: 1050px) {
    .container {
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: 1fr;
    }

    .albums-horizontal-container {
        display: block;
    }

    .albums-vertical-container {
        display: none;
    }

    .expanded-albums-container {
        grid-row: 2;
        grid-column: 1;
    }

    .related-artists-container {
        grid-column: 1;
        grid-row: 3;
    }

    .shrinked-related-artists-container {
        grid-column: 1;
    }
}