<app-artist-header [artist]="artist"></app-artist-header>

<div class="container">
    <section class="tracks-container">
        <app-artist-top-tracks [artistId]="artist.id"></app-artist-top-tracks>
    </section>
    <section class="albums-container" #albums>
        <app-artist-albums [artistId]="artist.id" (hideButtonClick)="onHideButtonClick()" (showButtonClick)="onShowButtonClick()">
        </app-artist-albums>
    </section>
    
    <section class="related-artists-container" #artists>
        <app-artist-related-artists [artistId]="artist.id"></app-artist-related-artists>
    </section>
</div>