@import './../../../variables.scss';

.container {
    height: 700px;
    overflow: hidden;
    border-bottom: 1px solid $green;
    border-bottom-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    padding: 0px 0.5rem;
}

.action-button {
    margin-top: 0.5rem;
    color: grey;
    display: block;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    user-select: none;
}
.action-button:hover {
    color: $green;
}

.hide-button {
    display: none;
}