.container {
    display: grid;
    grid-template-columns: 1fr;
}

.category {
    margin: 1rem;
}

@media all and (min-width: 565px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (min-width: 800px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media all and (min-width: 1000px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media all and (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media all and (min-width: 1500px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
    }
}